
@using NorthwindCatalog.Services.DTOs
@model List<CategorySummaryDto>

<h2>Summary</h2>

<table class="table">
    <thead>
        <tr>
            <th>Category</th>
            <th>Product Count</th>
            <th>Avg Price</th>
            <th>Most Expensive</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryName</td>
                <td>@item.ProductCount</td>
                <td>@item.AvgPrice</td>
                <td>@item.MostExpensiveProduct</td>
            </tr>
        }
    </tbody>
</table>
